---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="Blog" description="Latest blog posts">
  <Container>
    <div class="space-y-10">
      <section class="animate space-y-4">
        <h1 class="text-3xl font-semibold">Blog</h1>
        <div>
          <ul class="not-prose flex flex-col gap-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>           
    </div>
  </Container>
</Layout> 