---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  //.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

//.slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

// const projects: CollectionEntry<"projects">[] = (
//   await getCollection("projects")
// )
//   .filter((project) => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
     Introduction
    </h1>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>A caveman's guide to surving the modern industrial landscape.</p>
            <p><b> Times have changed. </b></p> 
            
            <p>
            
              Look around you. The life expectancy of people is dropping. 
              Why is that? What could be happening? As a person who woke up one day to
              find out he had heart disease and needed bypass surgery I endeavored to find out.
              </p>
              <p>
                A large measure of the problem is the food we eat. You are what you eat. If you eat 
                processed garbage you will end up with any number of chronic diseases. Most of them 
                because of insulin resistance - but the story is more complex than that.
              </p>
              <p>          People often talk about the idea of health as a way of living like our ancient ancestors did. 
                It's about getting back to basics and embracing a simpler lifestyle. 
                This concept revolves around the belief that our bodies are best suited to the types of foods,
                 activities, and environments that our early human ancestors experienced.
  
              </p>
              <p>
                By starting with a first principle - what we do and eat now is very different 
                than 100 years ago -  let alone a 1000.

            <p>
              Caveman's guide to surviving the modern industrial landscape.
            </p>
       
          </span>

        </article>
      </section>

      <section class="animate space-y-6">
        <!-- <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest posts</h2>
          <Link href="/blog"> See all posts </Link>
        </div> -->
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

    </div>
  </Container>
</Layout>
