---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => a.data.date.valueOf());

//.slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

// const projects: CollectionEntry<"projects">[] = (
//   await getCollection("projects")
// )
//   .filter((project) => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <img src="/images/caveman.png" alt="Hero image" class="rounded-lg" />
            <p><b> Times have changed. </b></p> 
            
            <p>
            
              For the first time, the life expectancy of people is decreasing. 
              Why is that? As a person who woke up one day to
              find out he had heart disease and needed bypass surgery,   I endeavored to find out.
              </p>
              <p>
              <b>You are what you eat</b>
              </p>
              <p>
                A large measure of the problem is the food we eat. If you eat 
                processed garbage you will end up with any number of chronic diseases. Most of them 
                because of insulin resistance - but the story is more complex than that.
              </p>
              <p>          People often talk about the idea of health as a way of living like our ancient ancestors did. 
                It's about getting back to basics and embracing a simpler lifestyle. 
                This concept revolves around the belief that our bodies are best suited to the types of foods,
                 activities, and environments that our early human ancestors experienced.
  
              </p>
              <p>
                <b>Let's start with a first principle</b>  
              </p>
              <p>
                What is different about the food we eat today compared to the food our ancestors ate 150 years ago?
                What do we <i>do</i> differently?
              </p>
              <p>
                In this book, we'll interogate the things we do 
                and eat though the eyes of "A caveman's guide surviving the modern landscape".
              </p>
          </span>

        </article>
      </section>

      <section class="animate space-y-6">
        <!-- <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest posts</h2>
          <Link href="/blog"> See all posts </Link>
        </div> -->
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

    </div>
  </Container>
</Layout>
