---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCardStatic from "@components/ArrowCardStatic.astro";
import Callout from "@components/Callout.astro";
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION} >
  <Container>
    
    <div>
      <section class="animate space-y-4" id="article">
          <p/><br/></p>
        
        <Callout type="info">
          <div class="flex flex-col space-y-2">
            <div class="font-semibold">
            Update
            </div>
            <div class="text-sm">

              I could be wrong about everything. I had a stroke. Honestly, I wouldn't (and haven't) changed anything. I could be completely wrong though.
            </div>
          </div>
        </Callout>
        
        <ArrowCardStatic />
        <p/><br/></p>
       

        <h2> Times have changed</h2>

        <p>
          For the first time in modern history, life expectancy is decreasing.
          Why?
        </p>
        <p>
         As a person who woke up one day to find out he had heart disease and needed
        bypass surgery, I endeavored to find out.
        </p>
    
      <h2>You are what you eat</h2>
      
      <p>
        If you eat processed
        "food" you will end up with any number of chronic diseases. Most of
        them because of insulin resistance - but the story is more complex than
        that.
      </p>
      <p>
        People often talk about living like our
        ancient ancestors. This concept revolves around the belief that our
        bodies are best suited to the types of foods, activities, and
        environments that our early human ancestors experienced.
      </p>
      <!--p>
      Douglas Adam 
        In a rather peculiar twist of evolutionary irony, some people have taken to suggesting we should live like our ancient ancestors - you know, those charming fellows who spent their days running after woolly mammoths and hadn't yet discovered the dubious pleasures of microwaveable pizza. The logic, which is almost sensible enough to make one's brain itch, suggests that our bodies might actually prefer the sort of foods and lifestyle choices that didn't come with a barcode and 47 artificial preservatives. Terribly inconvenient, but there you have it.
      </p-->
      <h2>Starting with a first principle</h2>
      <p>
        What is different about the food we eat today compared to the food our
        ancestors ate 150 years ago? What do we <b>do</b> differently?
      </p>
      <p>
        In this book, we'll look at the things we do and eat though the eyes of 
        <b>"A caveman's guide to surviving the modern industrial landscape"</b>.
      </p>
      <p/><br/><p/>
      <!-- <img src="/images/caveman-rem.png" alt="food" /> -->
      <ArrowCardStatic />  
    </div>
    </section>
    


  
</Layout>
